#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: monospace;
}

.main {
  background-color: #242424;
  padding: 1.5rem;
  border: 4px solid white;
  border-radius: 73% 27% 91% 9% / 15% 87% 13% 85% ;
}

.weather-container {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.weather-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weather-header-operations {
  display: flex;
  gap: .25rem;
}

.weather-search {
  display: flex;
  gap: .5rem;
  font-family: sans-serif;
}

.weather-search input {
  width: 100px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
